body {
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
}
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}
