body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
*::placeholder {
  font-size: 16px;
}
.app {
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

